
<% if @current_user %>
<div class="row">
  <h1>Places</h1>
</div>

  <% for place in @places %>
    <div class="row">
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </div>
  <% end %>

<p>
  <a href="/places/new">New place</a>
</p>

<% else %> <%# no need as I add if @current_user in place controller %>
<div class="row">
    <h5>
     Dear Customer, You must first <a href="/sessions/new">login</a> to continue.
    </h5>
</div>
<% end %>