<div class="row">
    <h1>New Place</h1>
</div>

<%= form_with model: @place do |form| %>
  <div class="row">
    <h5>
    <%= form.label "Place name" %>
    <%= form.text_field "name" %>
    </h5>
  </div>
  <div class="row">
    <h4>
    <%= form.submit "Add A New Place", class: "btn btn-primary" %>
    </h4>
  </div>
<% end %>